.wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* margin-top: 30px;
  margin-bottom: 20px; */
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
}

.searchbar-box {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.searchbar {
  display: flex;
  align-items: center;
  text-align: left;
}

.searchbar-input {
  text-align: center;
  border-radius: 20px !important;
  margin-left: 10px !important;
}

.th-card {
  margin: 25px 0;
  width: 75vw;
}

.day {
  margin: 0;
  background-color: rebeccapurple;
  max-width: 160px;
  text-align: center;
  border-radius: 25px;
  font-size: 22px;
  /* padding: 8px; */
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notify-card {
  padding: 20px;
  display: flex;
  align-items: flex-start;
}

.icon-box {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.post-date {
  font-size: 16px;
  color: #999999;
}

.emoji {
  color: purple;
  font-size: 18px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.content {
  color: #777;
  font-size: 15px;
  margin-bottom: 15px;
}

.button {
  font-size: 16px;
  font-weight: 600;
  color: #dc143c;
}

.hz-line {
  width: 90%;
  border: none;
  background-color: salmon;
  height: 1px;
}

.vertical-top,
.vertical-bottom {
  display: inline-block;
  border-left: 2.5px solid #ccc;
  position: absolute;
  margin-top: 10px;
  height: 5%;
  left: 17.5%;
}

.vertical-bottom {
  bottom: 0;
}

@media only screen and (min-width: 1020px) {
  .day-box {
    margin-left: 12vw !important;
  }
}

@media only screen and (max-width: 780px) {
  /* .container {
    margin-top: 5vh;
  } */
  .th-card {
    margin-bottom: 20px !important;
    width: 85vw;
  }

  .notify-card {
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    display: block;
  }

  .icon-box {
    margin: 0 0 10px 0 !important;
  }

  .post,
  .post-date {
    font-size: 14px;
  }
  .content {
    margin-bottom: 8px;
  }
  .content,
  .header,
  .button {
    font-size: 12px;
  }

  .day-box {
    display: flex;
    justify-content: center;
  }

  .day {
    font-size: 18px;
    width: 100px;
    height: 30px;
  }
}
