.wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
}

.th-card {
  margin: 15px 0;
  width: 75vw;
}

/* .day-box {
  display: flex;
  justify-content: center;
} */
.day {
  margin: 0;
  background-color: rebeccapurple;
  width: 100px;
  text-align: center;
  border-radius: 40%;
  font-size: 22px;
  padding: 8px;
}
.notify-card {
  padding: 20px;
  display: flex;
  align-items: flex-start;
}

.icon-box {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.post-date {
  font-size: 16px;
  color: #999999;
}

.emoji {
  color: purple;
  font-size: 18px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.content {
  color: #777;
  font-size: 15px;
  margin-bottom: 15px;
}

.button {
  font-size: 16px;
  font-weight: 600;
  color: #dc143c;
}

@media only screen and (max-width: 780px) {
  .container {
    /* margin-top: 5vh; */
  }
  .th-card {
    margin-bottom: 20px !important;
    width: 85vw;
  }

  .notify-card {
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    display: block;
  }

  .icon-box {
    margin: 0 0 10px 0 !important;
  }

  .post,
  .post-date {
    font-size: 14px;
  }
  .content {
    margin-bottom: 8px;
  }
  .content,
  .header,
  .button {
    font-size: 12px;
  }
}
