<div class="container">
  <!-- pie chart -->
  <div style="margin-bottom: 3rem">
    <div class="th-chart-header">
      <span class="circle"></span>
      <span class="student">Students</span>
    </div>
    <div class="p-d-flex p-jc-evenly">
      <div style="width: 560px">
        <p-chart type="pie" [data]="gender_data" [options]="options"></p-chart>
      </div>
      <div style="width: 560px">
        <p-chart type="pie" [data]="dept_data" [options]="options"></p-chart>
      </div>
    </div>
  </div>
  <!-- pe chart ends -->

  <!-- Cerficate  -->

  <div style="margin-bottom: 3rem">
    <div class="certi-header-wraper">
      <div class="certi-header">
        <span class="circle"> </span>
        <span class="testimonial"> Certificate and Appreciation</span>
      </div>
      <div class="add-icon" (click)="addCertiModal()">
        <span class="add"> Add</span>
        <i class="pi pi-pencil"></i>
      </div>
    </div>
    <p-carousel
      [value]="certificate"
      [numVisible]="4"
      [numScroll]="1"
      [circular]="false"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template let-certi_data pTemplate="item">
        <div class="certi-slider-container">
          <div>
            <img src="{{ certi_data.src }}" alt="" class="certi-logo" />
            <p class="certi-name">{{ certi_data.name }}</p>
            <p class="issue_by">Issued By : {{ certi_data.organisation }}</p>
            <p class="issue_on">Issued On: {{ certi_data.issueDate }}</p>
            <div style="margin-top: 0.75rem">
              <div
                class="edit-icon th-edit-certi"
                (click)="editCertiModal(certi_data.name)"
                style="margin-bottom: 0.5rem"
              >
                <i class="pi pi-user-edit" style="margin-right: 0.5rem"></i>
                <span class="edit">Edit</span>
              </div>
              <div class="delete-icon th-delete-certi" (click)="delCerti()">
                <span class="delete">Delete</span>
                <i class="pi pi-trash" style="margin-left: 0.5rem"></i>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <!-- Cerficate ends -->

  <!-- Awards  -->

  <div style="margin-top: 4rem">
    <div class="award-header-wraper">
      <div class="award-header">
        <span class="circle"> </span>
        <span class="testimonial"> Awards and Medals</span>
      </div>
      <div class="add-icon" (click)="addAwardsModal()">
        <span class="add"> Add</span>
        <i class="pi pi-pencil"></i>
      </div>
    </div>
    <p-carousel
      [value]="award"
      [numVisible]="3"
      [numScroll]="1"
      [circular]="false"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template let-item pTemplate="item">
        <div class="award-slider-container">
          <div>
            <div class="awards-content-box">
              <img src="{{ item.src }}" alt="" />
              <p class="award">{{ item.name }}</p>
              <p class="award">Issue Date: {{ item.issueDate }}</p>
              <p class="award">Issued By: {{ item.organisation }}</p>
            </div>
            <div class="award-edit-delete-box">
              <div class="edit-icon" (click)="editAwardsModal(item.name)">
                <i class="pi pi-user-edit p-mr-2"></i>
                <span class="edit">Edit</span>
              </div>
              <div class="delete-icon" (click)="delAward()">
                <span class="delete">Delete</span>
                <i class="pi pi-trash p-ml-2"></i>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <!-- Awards ends -->

  <!-- testimonial -->

  <div>
    <div class="testimony-container">
      <div class="testimonial-header">
        <span class="circle"> </span>
        <span class="testimonial"> Testimonials</span>
      </div>
      <div class="add-icon" (click)="addTestimonyModal()">
        <span class="add"> Add</span>
        <i class="pi pi-pencil"></i>
      </div>
    </div>

    <p-carousel
      [value]="testimonial"
      [numVisible]="3"
      [numScroll]="1"
      [circular]="false"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template let-data pTemplate="item">
        <div class="testimonial-slider-container">
          <div class="card-details">
            <div class="card-img-box">
              <img src="{{ data.src }}" alt="" class="card-image" />
            </div>
            <div class="card-title">
              <p class="" style="margin-bottom: 0">{{ data.text }}</p>
              <p class="" style="margin-bottom: 0">~ {{ data.name }} ~</p>
              <p class="" style="margin-bottom: 0">
                ~~{{ data.role }}@{{ data.organisation }}~~
              </p>
              <p class="" style="margin-bottom: 0">
                {{ data.issueDate }}
              </p>
            </div>
            <div class="testimonial-edit-delete-box">
              <div class="edit-icon" (click)="editTestimonyModal()">
                <i class="pi pi-user-edit p-mr-2"></i>
                <span class="edit">Edit</span>
              </div>
              <div class="delete-icon" (click)="delTestimony()">
                <span class="delete">Delete</span>
                <i class="pi pi-trash p-ml-2"></i>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <!-- testimonial ends -->
</div>

<!-- modals -->

<!-- add section -->

<p-dialog
  header="Add Certificate and Appreciation"
  [(visible)]="display_add_certi"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <div class="modal-container">
    <form
      [formGroup]="certificateModel"
      (ngSubmit)="onAddCertificate(certificateModel.value)"
    >
      <p class="" style="margin-bottom: 0.5rem">Certificate Name</p>
      <input
        type="text"
        pInputText
        [(ngModel)]="certificateModel.name"
        [ngModelOptions]="{ standalone: true }"
        style="margin-bottom: 0.75rem"
      />
      />
      <p class="" style="margin-bottom: 0.5rem">Issued By</p>
      <input
        type="text"
        pInputText
        [(ngModel)]="certificateModel.organisation"
        [ngModelOptions]="{ standalone: true }"
        style="margin-bottom: 0.75rem"
      />
      <p class="" style="margin-bottom: 0.5rem">Issue Date</p>
      <input
        type="text"
        pInputText
        [(ngModel)]="certificateModel.issueDate"
        [ngModelOptions]="{ standalone: true }"
        style="margin-bottom: 0.75rem"
      />
      <div>
        <p class="" style="margin-bottom: 0.5rem">Upload Certificate</p>
        <input
          style="margin-bottom: 0.75rem"
          type="file"
          accept="image/*"
          (change)="onFileChanged($event)"
        />
      </div>
      <p-button type="submit" label="Submit" class="modal-btn"></p-button>
    </form>
  </div>
</p-dialog>

<p-dialog
  header="Add Awards and Medals"
  [(visible)]="display_add_award"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <div class="modal-container">
    <form [formGroup]="awardModel" (ngSubmit)="onAddAward(awardModel.value)">
      <p class="" style="margin-bottom: 0.5rem">Award Name</p>
      <input
        type="text"
        pInputText
        [(ngModel)]="awardModel.name"
        [ngModelOptions]="{ standalone: true }"
        style="margin-bottom: 0.75rem"
      />

      <p class="" style="margin-bottom: 0.5rem">Issued By</p>
      <input
        type="text"
        pInputText
        [(ngModel)]="awardModel.organisation"
        [ngModelOptions]="{ standalone: true }"
        style="margin-bottom: 0.75rem"
      />

      <p class="" style="margin-bottom: 0.5rem">Issue Date</p>
      <input
        type="text"
        pInputText
        [(ngModel)]="awardModel.issueDate"
        [ngModelOptions]="{ standalone: true }"
        class="p-mb-4"
      />
      <div>
        <p class="" style="margin-bottom: 0.5rem">Upload Image</p>
        <input
          style="margin-bottom: 0.75rem"
          type="file"
          accept="image/*"
          (change)="onFileChanged($event)"
        />
      </div>
      <p-button type="submit" label="Submit" class="modal-btn"></p-button>
    </form>
  </div>
</p-dialog>

<p-dialog
  header="Add Testimonials"
  [(visible)]="display_add_testimony"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <div class="modal-container">
    <form
      [formGroup]="testimonialModel"
      (ngSubmit)="onAddTestimonial(testimonialModel.value)"
    >
      <p class="" style="margin-bottom: 0.5rem">Issued By</p>
      <input
        type="text"
        pInputText
        [(ngModel)]="testimonialModel.issueDate"
        [ngModelOptions]="{ standalone: true }"
        style="margin-bottom: 0.75rem"
      />
      <div>
        <p class="" style="margin-bottom: 0.5rem">Candidate's Role</p>
        <input
          type="text"
          pInputText
          [(ngModel)]="testimonialModel.role"
          [ngModelOptions]="{ standalone: true }"
          style="margin-bottom: 0.75rem"
        />
      </div>

      <div>
        <p class="" style="margin-bottom: 0.5rem">Candidate's Organisation</p>
        <input
          type="text"
          pInputText
          [(ngModel)]="testimonialModel.organisation"
          [ngModelOptions]="{ standalone: true }"
          style="margin-bottom: 0.75rem"
        />
        <p class="" style="margin-bottom: 0.5rem">Testimony</p>
        <textarea
          [rows]="5"
          [cols]="30"
          pInputTextarea
          autoResize="autoResize"
          [(ngModel)]="testimonialModel.text"
          [ngModelOptions]="{ standalone: true }"
        ></textarea>
      </div>

      <p-button type="submit" label="Submit" class="modal-btn"></p-button>
    </form>
  </div>
</p-dialog>

<!-- add section ends -->

<!-- edit section -->

<p-dialog
  header="{{ certi_header }}"
  [(visible)]="display_edit_certi"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <div class="modal-container">
    <form
      [formGroup]="certificateModel"
      (ngSubmit)="onEditCertificate(certificateModel.value)"
    >
      <p class="" style="margin-bottom: 0.5rem">Certificate Name</p>
      <input
        type="text"
        pInputText
        [(ngModel)]="certificateModel.name"
        [ngModelOptions]="{ standalone: true }"
        style="margin-bottom: 0.75rem"
      />

      <p class="" style="margin-bottom: 0.5rem">Issued By</p>
      <input
        type="text"
        pInputText
        [(ngModel)]="certificateModel.organisation"
        [ngModelOptions]="{ standalone: true }"
        style="margin-bottom: 0.75rem"
      />

      <p class="" style="margin-bottom: 0.5rem">Issue Date</p>
      <input
        type="text"
        pInputText
        [(ngModel)]="certificateModel.issueDate"
        [ngModelOptions]="{ standalone: true }"
        style="margin-bottom: 0.75rem"
      />
      <div>
        <p class="" style="margin-bottom: 0.5rem">Upload Certificate</p>
        <input
          style="margin-bottom: 0.75rem"
          type="file"
          accept="image/*"
          (change)="onFileChanged($event)"
        />
      </div>
      <p-button type="submit" label="Submit" class="modal-btn"></p-button>
    </form>
  </div>
</p-dialog>

<p-dialog
  [(header)]="award_header"
  [(visible)]="display_edit_award"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <div class="modal-container">
    <form [formGroup]="awardModel" (ngSubmit)="onEditAward(awardModel.value)">
      <p class="" style="margin-bottom: 0.5rem">Award Name</p>
      <input
        type="text"
        pInputText
        [(ngModel)]="awardModel.name"
        [ngModelOptions]="{ standalone: true }"
        style="margin-bottom: 0.75rem"
      />

      <p class="" style="margin-bottom: 0.5rem">Issued By</p>
      <input
        type="text"
        pInputText
        [(ngModel)]="awardModel.organisation"
        [ngModelOptions]="{ standalone: true }"
        style="margin-bottom: 0.75rem"
      />

      <p class="" style="margin-bottom: 0.5rem">Issue Date</p>
      <input
        type="text"
        pInputText
        [(ngModel)]="awardModel.issueDate"
        [ngModelOptions]="{ standalone: true }"
        class="p-mb-4"
      />
      <div>
        <p class="" style="margin-bottom: 0.5rem">Upload Image</p>
        <input
          style="margin-bottom: 0.75rem"
          type="file"
          accept="image/*"
          (change)="onFileChanged($event)"
        />
      </div>
      <p-button type="submit" label="Submit" class="modal-btn"></p-button>
    </form>
  </div>
</p-dialog>

<p-dialog
  header="Edit Testimonials"
  [(visible)]="display_edit_testimony"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <div class="modal-container">
    <form
      [formGroup]="testimonialModel"
      (ngSubmit)="onEditTestimonial(testimonialModel.value)"
    >
      <p class="" style="margin-bottom: 0.5rem">Issued By</p>
      <input
        type="text"
        pInputText
        [(ngModel)]="testimonialModel.issueDate"
        [ngModelOptions]="{ standalone: true }"
        style="margin-bottom: 0.75rem"
      />
      <div>
        <p class="" style="margin-bottom: 0.5rem">Candidate's Role</p>
        <input
          type="text"
          pInputText
          [(ngModel)]="testimonialModel.role"
          [ngModelOptions]="{ standalone: true }"
          style="margin-bottom: 0.75rem"
        />
      </div>

      <div>
        <p class="" style="margin-bottom: 0.5rem">Candidate's Organisation</p>
        <input
          type="text"
          pInputText
          [(ngModel)]="testimonialModel.organisation"
          [ngModelOptions]="{ standalone: true }"
          style="margin-bottom: 0.75rem"
        />
        <p class="" style="margin-bottom: 0.5rem">Testimony</p>
        <textarea
          [rows]="5"
          [cols]="30"
          pInputTextarea
          autoResize="autoResize"
          [(ngModel)]="testimonialModel.text"
          [ngModelOptions]="{ standalone: true }"
        ></textarea>
      </div>

      <p-button type="submit" label="Submit" class="modal-btn"></p-button>
    </form>
  </div>
</p-dialog>
<!-- edit section ends -->

<!-- delete section -->
<p-confirmDialog
  [style]="{ width: '50vw', height: '50vh' }"
  [baseZIndex]="10000"
></p-confirmDialog>
<!-- delete section ends -->
