@media only screen and (min-width: 1120px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.th-chart-div {
  display: flex;
  justify-content: space-evenly;
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1.5px solid #ff6f00;
  margin-right: 1rem;
}

.th-chart-header {
  display: flex !important;
  align-items: center !important;
  margin-bottom: 1.5rem !important;
}

.certi-header-wraper,
.award-header-wraper {
  display: flex !important;
  margin-bottom: 2rem !important;
}

.certi-header,
.award-header,
.testimonial-header {
  display: flex !important;
  align-items: center !important;
  margin-right: 4rem;
}

.certi-slider-container,
.award-slider-container,
.testimonial-slider-container {
  display: flex !important;
  justify-content: space-around !important;
  padding: 0.5rem !important;
}

.student,
.cerficate,
.award-title,
.testimonial {
  font-size: 36px;
  color: #1d9f87;
}

.certi-name,
.issue_on,
.issue_by {
  font-size: 20px;
  color: #666666;
  margin-top: 8px;
  margin-bottom: 8px;
}

.certi-logo {
  border-radius: 10px;
  width: 216px;
}

.awards-content-box {
  text-align: center !important;
  margin-bottom: 1rem;
}

.award {
  font-size: 20px;
  color: #888888;
  margin-bottom: 0 !important;
  margin-top: 6px;
}

.card-details {
  border: 1px solid #f00625;
  padding: 16px;
}

.card-img-box {
  display: flex !important;
  justify-content: center !important;
}

.card-image {
  border-radius: 50%;
  height: 160px;
  width: 160px;
}

.card-title {
  font-size: 18px;
  min-height: 305px;
  text-align: center;
}

.add,
.edit,
.delete {
  font-size: 20px;
}

.add {
  margin-right: 0.75rem !important;
}

.add-icon {
  background: #0852ba;
  cursor: pointer;
  padding: 8px 20px;
  color: #fff;
  border-radius: 10px;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
  color: #fff;
  border-radius: 10px;
  display: flex !important;
  align-items: center !important;
}

.th-edit-certi,
.th-delete-certi {
  justify-content: center !important;
}

.award-edit-delete-box,
.testimonial-edit-delete-box {
  display: flex !important;
  justify-content: space-evenly !important;
  margin-top: 1.5rem;
}

.edit-icon {
  background: #689f38;
  padding: 8px 30px;
}

.delete-icon {
  background: #d32f2f;
  opacity: 0.8;
  padding: 8px 16px;
}

.add-btn,
.edit-btn {
  color: #fff;
  font-size: 18px;
  background: #2196f3;
  border-radius: 8px;
  border: none !important;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.modal-btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.testimony-container {
  display: flex !important;
  margin-bottom: 2rem;
}

/* for modals */

.th-modal-input-div {
  display: flex;
  justify-content: space-evenly;
}

.th-upload-image {
  padding: 10px;
  border: none !important;
}

.th-modal-input-name {
  font-size: 20px;
  color: burlywood;
}

.th-input-div {
  margin-bottom: 1.5rem;
}

.modal-container {
  display: flex;
  justify-content: center;
}

.th-del-confirm-msg {
  font-size: 20px;
  margin-bottom: 1rem;
}
