.container {
  max-width: 1200px;
  margin: 0 auto;
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1.5px solid #ff6f00;
}

.student,
.cerficate,
.award-title,
.testimonial {
  font-size: 36px;
  color: #1d9f87;
}

.certi-name {
  font-size: 22px;
  color: #666666;
  letter-spacing: 1px;
}

.certi-logo {
  border-radius: 10px;
  width: 180px;
}

.award {
  font-size: 22px;
  color: #888888;
}
.card-details {
  border: 1px solid #f00625;
  padding: 16px;
}

.card-image {
  border-radius: 50%;
  height: 160px;
  width: 160px;
}

.card-title {
  font-size: 18px;
  min-height: 240px;
  text-align: center;
}
