<p-toast></p-toast>
<div class="p-pl-4 p-pr-4">
  <div class="th-container">
    <div class="th-top-div">
      <div style="font-size: 28px;" class="p-mb-3">Candidates</div>
      <div>All Candidates</div>
    </div>
    <div class="p-pl-5 p-pr-5 p-pt-4 p-pb-4">
      <div class="p-mb-4 p-ml-1">
        <span style="font-size: 24px;"> All Candidates | </span> 8 Candidates
      </div>
      <p-table [value]="products">
        <ng-template pTemplate="caption" class="th-table-caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <span class="p-input-icon-left p-d-flex p-ai-center">
              <i class="pi pi-search p-mr-3"></i>
              <input
                pInputText
                type="text"
                placeholder="Search"
                class="search-input"
                style="font-size: 18px !important;"
              />
            </span>
            <div class="p-input-icon-right">
              <span style="margin: 0 10px; cursor: pointer;"
                ><i class="pi pi-download" style="margin: 0 20px;"></i
              ></span>
              <span
                style="margin: 0 10px; cursor: pointer;"
                class="p-input-icon-left"
                >...</span
              >
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem;" class="th-table-header-col-1">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th class="th-table-header-col">Name <p-sortIcon></p-sortIcon></th>
            <th class="th-table-header-col">Status</th>
            <th class="th-table-header-col">Applied Date</th>
            <th class="th-table-header-col">View Candidate</th>
            <th class="th-table-header-col-2"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr class="th-table-row">
            <td class="th-table-col-1">
              <p-tableCheckbox [value]="product"></p-tableCheckbox>
            </td>
            <td class="th-table-col">
              <div class="p-d-flex p-jc-around p-ai-center">
                <span class="th-circle">{{ product.name_abbr }} </span>
                <div>
                  <p class="th-name">{{ product.fname + product.lname }}</p>
                </div>
              </div>
            </td>
            <td class="th-table-col th-status">
              {{ product.status }}
            </td>
            <td class="th-table-col th-date">{{ product.start_date }}</td>
            <td class="th-table-col th-date">
              <p-button
                icon="pi pi-external-link"
                label="View"
                [routerLink]="['/events']"
              ></p-button>
            </td>
            <td class="th-table-col-2 th-assignment">
              <span
                (click)="showModal()"
                style="font-size: 36px; cursor: pointer;"
              >
                ...
              </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<p-dialog
  [(visible)]="displayModal"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <div class="p-d-flex p-jc-evenly">
    <p-button
      icon="pi pi-check"
      label="Select the Candidate"
      styleClass="p-button-text"
    ></p-button>
    <p-button
      icon="pi pi-check"
      label="Promote to nextround"
      styleClass="p-button-text"
    ></p-button>
    <p-button
      icon="pi pi-times"
      label="Reject the Candidate"
      styleClass="p-button-text"
    ></p-button>
  </div>
</p-dialog>

<br /><br /><br /><br /><br /><br /><br />
