.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 48px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background: beige;
}

.container-2 {
  max-width: 1200px;
  margin: 0 auto;
}

.card-container {
  max-width: 1200px;
  margin: 0 auto;
}

.card-wraper {
  min-height: 450px;
}

.icon-box,
.mail-icon-box {
  border-radius: 50%;
  background: #efd8a8;
  height: 70px;
  width: 70px;
}
.icon-box {
  padding: 15px 20px;
}
.mail-icon-box {
  padding: 15px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: #363636;
}

.mail,
.contact {
  font-size: 18px;
  color: #333333;
  margin-top: 4px;
}

.card-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.name {
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #363636;
  margin-top: 8px;
  margin-bottom: 8px;
}

.post {
  font-size: 20px;
  color: #999;
  margin-top: 0;
  margin-bottom: 8px;
}

.email {
  font-size: 18px;
  margin-top: 0;
  color: #999;
}

.header {
  font-size: 40px;
  color: #333;
  border-bottom: 5px solid #efd8a8;
}

.read-more-btn {
  background: #4076d9;
  width: 100px;
  padding: 10px;
  color: #fff;
  font-size: 22px;
  border-radius: 8px;
}
