.th-grid {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.th-container {
  padding: 48px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background: beige;
}

.card-wraper {
  min-height: 450px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.icon-box,
.mail-icon-box {
  border-radius: 50%;
  background: #efd8a8;
  height: 56px;
  width: 56px;
}

.icon-box {
  padding: 10px 15px;
  margin-right: 1rem;
}

.mail-icon-box {
  padding: 8.5px 10px;
}

.title {
  font-size: 22px;
  font-weight: 600;
  color: #363636;
  margin-right: 1rem;
}

.mail,
.contact {
  font-size: 16px;
  color: #333333;
  margin-top: 4px;
}

.card-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.name {
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #363636;
  margin-top: 8px;
  margin-bottom: 8px;
}

.post {
  font-size: 20px;
  color: #999;
  margin-top: 0;
  margin-bottom: 8px;
}

.email {
  font-size: 18px;
  margin-top: 0;
  color: #999;
}

.social-icon-div {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.header {
  font-size: 40px;
  color: #333;
  border-bottom: 5px solid #efd8a8;
}

.read-more-btn {
  background: #4076d9;
  width: 100px;
  padding: 10px;
  color: #fff;
  font-size: 22px;
  border-radius: 8px;
}

.social-icon {
  font-size: 36px;
}
