<div class="container">
  <div class="p-d-flex p-jc-between">
    <div class="mail-box p-d-flex p-jc-between p-ai-center">
      <div class="img-box p-mr-4">
        <img src="assets/mail.png" alt="" class="" style="height: 50px;" />
      </div>

      <div class="p-d-flex p-flex-column">
        <span class="title">Email us:</span>
        <span class="mail">info@expidense.com</span>
      </div>
    </div>
    <div class="call-box p-d-flex p-jc-between p-ai-center">
      <div class="img-box p-mr-3">
        <img
          src="assets/phone.png"
          alt=""
          class=""
          style="width: 50px; height: 50px;"
        />
      </div>
      <div class="p-d-flex p-flex-column">
        <span class="title">Call us:</span>
        <span class="contact">12345 67890</span>
      </div>
    </div>
    <div class="media-box p-d-flex p-jc-between p-ai-center">
      <span class="title p-mr-3">Stay connected with us</span>
      <div class="img-box p-mr-3">
        <img src="assets/facebook.png" alt="" class="" style="height: 50px;" />
      </div>
      <div class="img-box p-mr-3">
        <img src="assets/instagram.png" alt="" class="" style="height: 50px;" />
      </div>
    </div>
  </div>
</div>

<br />
<br />

<div class="container-2 p-d-flex p-jc-center">
  <google-map height="500px" width="1200px"></google-map>
</div>

<div class="container-2 p-d-flex p-jc-center">
  <h2 class="header">Meet The Team</h2>
</div>

<!-- team cards -->
<div class="card-container">
  <div class="card-wraper p-d-flex p-jc-center">
    <div
      class="p-text-center"
      style="width: 360px;"
      *ngFor="let data of CEO_Data"
    >
      <img src="{{ data.src }}" alt="" class="card-img p-mt-4 p-mb-2" />
      <div class="p-text-center p-mb-3">
        <p class="name">{{ data.name }}</p>
        <p class="post">{{ data.post }}</p>
        <p class="email">{{ data.email }}</p>
      </div>

      <div class="p-d-flex p-jc-evenly p-mt-3">
        <span>
          <i
            class="fa fa-facebook-square"
            aria-hidden="true"
            style="font-size: 40px; color: '#3b5998';"
          ></i>
        </span>
        <span>
          <i
            class="fa fa-twitter"
            aria-hidden="true"
            style="font-size: 40px; color: '#00acee';"
          ></i>
        </span>
        <span>
          <i
            class="fa fa-linkedin-square"
            aria-hidden="true"
            style="font-size: 40px; color: '#0e76a8';"
          ></i>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="card-container">
  <div class="card-wraper p-d-flex p-jc-center">
    <div
      class="p-text-center"
      style="width: 360px;"
      *ngFor="let data of Team_Data"
    >
      <img src="{{ data.src }}" alt="" class="card-img p-mt-4 p-mb-2" />
      <div class="p-text-center p-mb-3">
        <p class="name">{{ data.name }}</p>
        <p class="post">{{ data.post }}</p>
        <p class="email">{{ data.email }}</p>
      </div>

      <div class="p-d-flex p-jc-evenly p-mt-3">
        <span>
          <i
            class="fa fa-facebook-square"
            aria-hidden="true"
            style="font-size: 40px; color: '#3b5998';"
          ></i>
        </span>
        <span>
          <i
            class="fa fa-twitter"
            aria-hidden="true"
            style="font-size: 40px; color: '#00acee';"
          ></i>
        </span>
        <span>
          <i
            class="fa fa-linkedin-square"
            aria-hidden="true"
            style="font-size: 40px; color: '#0e76a8';"
          ></i>
        </span>
      </div>
    </div>
  </div>
</div>
<br />
<br />
